<!-- Toolbar -->
<div class="toolbar" id="main-bar" role="banner">
    <img width="40" alt="Angular Logo" src="./../assets/icon.png" />
    <span style="color:rgb(44, 43, 43)">Flipkart Shopping
    </span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" rel="noopener" routerLink="/" title="Twitter">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="logout">logout</mat-icon>
    </a>
</div>

<div class="content" role="main">
    <router-outlet></router-outlet>
</div>
